html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.chart {
  background-color: white;
  box-shadow: 1px 1px 10px;
  transition: all 2000ms;
}

.bar:hover {
  fill: white;
}

#tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: lightsteelblue;
  box-shadow: 1px 1px 10px;
  border-radius: 2px;
  pointer-events: none;
}

.cell:hover {
  stroke-width: 1;
  stroke: black;
}
